k8s/task*.txt
terraform.tfstate*
.terraform
ansible/inventory.yml
venv/
.vscode
Temp
k8s/fluentbit/ds-dnstest.yaml
k8s/kibana/map_kibana.yaml
k8s/kibana/service_API_kibana.yaml
bash/games
bash/questions
bash/temp.sh
bash/Calc/my_math.sh
