---
# Homework for GL Basecamp DevOps
- name: Homework for GL Basecamp DevOps
  become: yes
  hosts: all  
  roles:
    - { role: create_file_for_iaas_group, when: "'iaas' in group_names" }
    - define_content_as_variable
